@inherits LayoutComponentBase

<PageTitle>Auth0 Blazor Prototype</PageTitle>

<div class="page flex flex-col h-screen overflow-hidden">
    <NavBar />
    <div class="grow m-5">
        @Body
    </div>
</div>