<nav class="bg-gray-800">
    <div class="mx-auto">
        <div class="flex justify-between items-center p-4">
            <div class="flex">
                <a href="/" class="flex flex-row items-end">
                    <div class="h-3 w-3 bg-yellow-400 rounded-sm"></div>
                    <div class="h-6 w-6 bg-red-600 rounded-md"></div>
                    <div class="h-10 w-10 bg-blue-600 rounded-md"></div>
                </a>
            </div>
            <div class="grid gap-3 grid-flow-col">
                @* <CascadingAuthenticationState> *@
                @*     <AuthorizeView> *@
                @*         <Authorized> *@
                @*             <a href="/logout" class="inline-block bg-gray-700 text-white px-4 py-2 rounded-md shadow-sm"> *@
                @*                 Logout *@
                @*             </a> *@
                @*         </Authorized> *@
                @*         <NotAuthorized> *@
                @*             <a href="/login?redirectUri=/" class="inline-block bg-gray-700 text-white px-4 py-2 rounded-md shadow-sm"> *@
                @*                 Login *@
                @*             </a> *@
                @*             <a href="/signup?redirectUri=/" class="inline-block bg-gray-700 text-white px-4 py-2 rounded-md shadow-sm"> *@
                @*                 Sign up *@
                @*             </a> *@
                @*         </NotAuthorized> *@
                @*     </AuthorizeView> *@
                @* </CascadingAuthenticationState> *@
            </div>
        </div>
    </div>
</nav>