@page "/"

<PageTitle>Index</PageTitle>

<div class="grid grid-flow-col grid-cols-10 h-full gap-6">
    <div class="rounded-lg bg-gray-200 col-span-8">
    </div>

    <div class="bg-gray-200 rounded-lg col-span-2">
        <div class="grid-flow-row grid gap-4 m-5">
            <div class="bg-gray-100 h-10 rounded-md"></div>
            <div class="bg-gray-100 h-80 rounded-md"></div>
            <div class="bg-gray-100 h-10 rounded-md"></div>
            <div class="bg-gray-100 h-64 rounded-md"></div>
        </div>
    </div>
</div>